<!DOCTYPE html>
<html ng-app="ssGameApp" lang="en">
<head>
  <meta charset="utf-8">
	<title>Lines puzzle game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Puzzle game">
	<meta name="author" content="Denis Pokataev">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<!--	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->

  <link href="/lines/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/lines/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/lines/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<script>
		'use strict';
		var ssGameApp = angular.module('ssGameApp', []);

		function ssBoardCtrl($scope) {
			$scope.startGame = function() {
				var tiles = [];
				for (var i = 0; i < 9; i ++) {
					tiles[i] = [];
					for (var j = 0; j < 9; j++) {
						tiles[i][j] = {x: j, y: i, c: 0, n: 0};
					}
				}
				$scope.tiles = tiles;
				$scope.emptyTiles = 81;
				$scope.selectedIndex = -1;
				$scope.colors = ['', 'blackball','redball', 'blueball', 'greenball', 'yellowball', 'magentaball', 'cyanball'];
				$scope.drawTriple($scope.getTriple());
				$scope.nextMove = $scope.getTriple();
				$scope.drawTriple($scope.nextMove, 1);
			};
			$scope.newMove = function(){
				$scope.drawTriple($scope.nextMove, 0, 1);
				$scope.nextMove = $scope.getTriple();
				$scope.drawTriple($scope.nextMove, 1);
			};
			$scope.drawTriple = function(triple, nextMove, upgrade){
				for (var i = 0; i < 3; i ++) {
					$scope.tiles[triple[i].y][triple[i].x].c = triple[i].c;
					if (nextMove) {
						$scope.tiles[triple[i].y][triple[i].x].n= 1;
					}
					else {
						$scope.tiles[triple[i].y][triple[i].x].n = 0;
					}
				}
				if (!upgrade) {
					$scope.emptyTiles-=3;
				}
			};
			$scope.getTriple = function(){
				var triple = [], t = [], ok = 0;
				t[0] = Math.floor($scope.emptyTiles * Math.random());
				while (!ok) {
					t[1] = Math.floor($scope.emptyTiles * Math.random());
					if (t[1] != t[0]) { ok = 1; }
				}
				ok = 0;
				while (!ok) {
					t[2] = Math.floor($scope.emptyTiles * Math.random());
					if (t[2] != t[1] && t[2] != t[0]) { ok = 1; }
				}
				t.sort(function(a,b){return a-b});
				var tidx = 0, emptyCount = -1;
				for (var i = 0; i < 81; i++) {
					if ($scope.tiles[Math.floor(i/9)][i%9].c == 0) { emptyCount++; }
					if (emptyCount == t[tidx]) {
						triple.push({x: i%9, y: Math.floor(i/9), c: Math.floor(7 * Math.random()) + 1});
						tidx++;
						if (tidx == 3) { break; }
					}
				}
				return triple;
			};
			$scope.tileClick = function(tile) {
				if ($scope.selectedIndex != -1 && (tile.c == 0 || tile.n == 1)) { // move
					// Check for path exists
					var opened = [], closed = [];
					var target = $scope.tiles[Math.floor($scope.selectedIndex/9)][$scope.selectedIndex%9];
					opened.push({x: tile.x, y: tile.y, cost: 0});
					var ok = 0;
					while (!ok) {
						if (opened.length == 0) { break; }
						var cur = opened.shift();
						closed[cur.y*9+cur.x] = cur.cost;
						if (cur.x > 0) {
							if (cur.y == target.y && cur.x - 1 == target.x) { ok = 1; break; }
							if (($scope.tiles[cur.y][cur.x-1].c == 0 || $scope.tiles[cur.y][cur.x-1].n == 1)
								&& closed[cur.y*9+cur.x-1] == null || closed[cur.y*9+cur.x-1] > cur.cost + 1) {
								opened.push({x: cur.x-1, y: cur.y, cost: cur.cost+1});
							}
						}
						if (cur.x < 8) {
							if (cur.y == target.y && cur.x + 1 == target.x) { ok = 1; break; }
							if (($scope.tiles[cur.y][cur.x+1].c == 0 || $scope.tiles[cur.y][cur.x+1].n == 1)
								&& closed[cur.y*9+cur.x+1] == null || closed[cur.y*9+cur.x+1] > cur.cost + 1) {
								opened.push({x: cur.x+1, y: cur.y, cost: cur.cost+1});
							}
						}
						if (cur.y > 0) {
							if (cur.y - 1 == target.y && cur.x == target.x) { ok = 1; break; }
							if (($scope.tiles[cur.y-1][cur.x].c == 0 || $scope.tiles[cur.y-1][cur.x].n == 1)
								&& closed[(cur.y-1)*9+cur.x] == null || closed[(cur.y-1)*9+cur.x] > cur.cost + 1) {
								opened.push({x: cur.x, y: cur.y-1, cost: cur.cost+1});
							}
						}
						if (cur.y < 8) {
							if (cur.y + 1 == target.y && cur.x == target.x) { ok = 1; break; }
							if (($scope.tiles[cur.y+1][cur.x].c == 0 || $scope.tiles[cur.y+1][cur.x].n == 1)
								&& closed[(cur.y+1)*9+cur.x] == null || closed[(cur.y+1)*9+cur.x] > cur.cost + 1) {
								opened.push({x: cur.x, y: cur.y+1, cost: cur.cost+1});
							}
						}
					}
					if (ok) {
						// Remove selection
						$scope.selectedIndex = -1;
						// TODO Animate path move
						tile.c = target.c;
						target.c = 0;
						// TODO Check for completed lines

						// Reappear nextMove if it was it
						if (tile.n == 1) {
							var t = Math.floor($scope.emptyTiles * Math.random());
							var emptyCount = -1;
							for (var i = 0; i < 81; i++) {
								if ($scope.tiles[Math.floor(i/9)][i%9].c == 0) { emptyCount++; }
								if (emptyCount == t) {
									for (var j = 0; j < 3; j++ ) {
										if ($scope.nextMove[j].x == tile.x && $scope.nextMove[j].y == tile.y) {
											$scope.nextMove[j].x = i%9;
											$scope.nextMove[j].y = Math.floor(i/9);
											$scope.tiles[$scope.nextMove[j].y][$scope.nextMove[j].x].c = $scope.nextMove[j].c;
											$scope.tiles[$scope.nextMove[j].y][$scope.nextMove[j].x].n = 1;
											tile.n = 0;
										}
									}
								}
							}
						}
						// make new move
						$scope.newMove();
					}
					// Else - do nothing // TODO "no path" reaction
				}
				else if (tile.c != 0 && tile.n == 0) {
					if ($scope.selectedIndex == tile.y*9+tile.x) {
						$scope.selectedIndex = -1;
					}
					else {
						$scope.selectedIndex = tile.y*9+tile.x;
					}
				}
			};

		}
	</script>
</head>
<body>
	<div class="board" ng-controller="ssBoardCtrl" ng-init="startGame()">
		<div class="tileGrid">
			<div class="tileRow" ng-repeat="row in tiles">
				<div class="tileBox" ng-class="{tileSelected: selectedIndex == tile.y*9+tile.x}" ng-repeat="tile in row" ng-click="tileClick(tile)">
					<div class="{{colors[tile.c]}}" ng-class="{ball: tile.c != 0,	ballBouncing: selectedIndex == tile.y*9+tile.x, smallBall: tile.n == 1}"></div>
					<div ng-class="{ballShadow: tile.c != 0, ballShadowBouncing: selectedIndex == tile.y*9+tile.x, smallShadow: tile.n == 1}"></div>
				</div>
			</div>
		</div>
		<div class="bottom-line"><span class="score">TODO SCORE</span></div>
		<div class="message"><p>TODO Rules goes here</p>
		</div>
	</div>
</body>
</html>
