<!DOCTYPE html>
<html ng-app="ssGameApp" lang="en">
<head>
  <meta charset="utf-8">
	<title>Lines puzzle game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Puzzle game">
	<meta name="author" content="Denis Pokataev">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

  <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/lines/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<script>

	</script>
</head>
<body>
	<div class="board" ng-controller="ssBoardCtrl" ng-init="startGame()">
		<div ng-class="{gameover: gameover, hidden: !gameover}">
			GAME OVER
		</div>
		<div class="tileGrid" ng-class="{error: error}">
			<div class="tileRow" ng-repeat="row in tiles">
				<div class="tileBox" ng-class="{tileSelected: selectedIndex == tile.y*9+tile.x}" ng-repeat="tile in row" ng-click="tileClick(tile)">
					<div class="{{colors[tile.c]}}" ng-class="{ball: tile.c != 0,	ballBouncing: selectedIndex == tile.y*9+tile.x, smallBall: tile.n == 1}"></div>
					<div ng-class="{ballShadow: tile.c != 0, ballShadowBouncing: selectedIndex == tile.y*9+tile.x, smallShadow: tile.n == 1}"></div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
			<span class="button btn btn-default" ng-click="undoMove()">Undo</span>
			<span class="score">Score: {{points}}</span>
			<span class="balls-score">Balls: {{ballsRemoved}}</span>
			<span class="button btn btn-deafult" ng-click="restart()">Restart</span>
		</div>
		</div>
	</div>
	<script src="js/main.js"></script>
</body>
</html>
